<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>lfs</display-name>
  <filter>
  	<filter-name>stuts2-filter</filter-name>  
  	<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  
    <filter-mapping>
  	<filter-name>stuts2-filter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
    <!-- 全局参数：当前为ContextLoaderListener，配置了一个寻找applicationContext.xml文件的路径参数 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:/applicationContext*.xml</param-value>
  </context-param>
  
  <!-- Spring的监听器：启动整个Spring（加载applicationContext.xml，从而创建整个应用的上下文对象） -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>